<!DOCTYPE html>
<html lang="en">
<head>
  <title><%= page %> | <%= site %></title>

  <!-- Favicon -->
  <link rel="icon" href="/favicon.ico" type="image/x-icon">
  <link rel="icon" href="/favicon.png" type="image/png">
  <link rel="icon" href="/favicon.svg" type="image/svg">

  <!-- Basic accessibility tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Basic SEO tags -->
  <meta name="url" content="<%= siteUrl %>">
  <meta name="identifier-URL" content="<%= siteUrl %>">
  <meta name="title" content="<%= page %> | <%= site %>">
  <!--<meta name="description" content="">-->
  <!--<meta name="keywords" content="">-->
  <% if (isError) { %>
    <meta name="robots" content="noindex, follow">
  <% } else { %>
    <meta name="robots" content="index, nofollow">
  <% } %>
  <!--<meta name="author" content="">-->
  <!--<meta name="reply-to" content="">-->
  <meta name="language" content="en">
  <meta name="rating" content="general">
  <meta name="theme-color" content="#aaa3c2">
  
  <!-- Open Graph -->
  <meta property="og:url" content="<%= siteUrl %>">
  <meta property="og:type" content="website">
  <meta property="og:title" content="<%= page %> | <%= site %>">
  <!--<meta property="og:description" content="">-->
  <meta property="og:image" content="<%= siteUrl %>/favicon.png">
  <meta property="og:site_name" content="<%= site %>">

  <!-- Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:url" content="<%= siteUrl %>">
  <!--<meta name="twitter:site" content="<%= site %>">-->
  <meta name="twitter:title" content="<%= page %> | <%= site %>">
  <!--<meta name="twitter:description" content="">-->
  <meta name="twitter:image" content="<%= siteUrl %>/favicon.png">

  <!-- Styles -->
  <link rel="preload" href="/styles/reset.css" as="style">
  <link rel="preload" href="/styles/main.css" as="style">
  <link rel="preload" href="/styles/text.css" as="style">
  <link rel="stylesheet" href="/style.css?minify=false">
</head>
<body>
  <!--<div class="site">
    <header>
      <nav class="navbar">
        <menu class="navbar__menu">
          <li class="navbar__item"><a class="navbar__link" href="/">Home</a></li>
          <li class="navbar__item"><a class="navbar__link" href="/about">About</a></li>
          <li class="navbar__item"><a class="navbar__link" href="/contact">Contact</a></li>
        </menu>
      </nav>
    </header>-->
    <main class="main">
      <%- body %>
    </main>
    <!--<footer class="footer">
      <p>© 2024 <%= siteUrl %></p>
    </footer>
  </div>-->
  <% if (user) { %>
    <script nonce="<%= cspNonce %>" src="/client.js"></script>
  <% } %>
</body>
</html>
